body{ 
    background-color:turquoise;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color : white;

}
.musica{

    width: 250px;
    background-color:navy;
    padding: 10px;
    border: solid black 5px;
    border-radius: 20px;
    text-align: center;
    margin: 10px; /* espaço ao redor de cada música */
    display: inline-block; /* para que as músicas fiquem lado a lado */
}
 audio{
  width: 90%;

 }


img{
   width: 200px;
   height: 200px;
}

.button{
  color: white;
  padding: 50px 30px;
  border: none;
  margin-top: 20px;
}
button:hover{
    background-color: rgb(64, 194, 64);
    color: white;
}